<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="systemDeviceType">
            <h2><span jhiTranslate="wpcemApp.systemDeviceType.detail.title">System Device Type</span> {{systemDeviceType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wpcemApp.systemDeviceType.name">Name</span></dt>
                <dd>
                    <span>{{systemDeviceType.name}}</span>
                </dd>
                <dt><span jhiTranslate="wpcemApp.systemDeviceType.description">Description</span></dt>
                <dd>
                    <span>{{systemDeviceType.description}}</span>
                </dd>
                <dt><span jhiTranslate="wpcemApp.systemDeviceType.deviceType">Device Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'wpcemApp.DeviceType.' + systemDeviceType.deviceType}}">{{systemDeviceType.deviceType}}</span>
                </dd>
                <dt><span jhiTranslate="wpcemApp.systemDeviceType.dataSheet">Data Sheet</span></dt>
                <dd>
                    <span>{{systemDeviceType.dataSheet}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/system-device-type', systemDeviceType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
