<div>
    <h2 id="page-heading">
        <span jhiTranslate="wpcemApp.systemDeviceData.home.title">System Device Data</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-system-device-data" [routerLink]="['/system-device-data/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="wpcemApp.systemDeviceData.home.createLabel">
            Create new System Device Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="systemDeviceData">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="timestamp"><span jhiTranslate="wpcemApp.systemDeviceData.timestamp">Timestamp</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataValue"><span jhiTranslate="wpcemApp.systemDeviceData.dataValue">Data Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataType"><span jhiTranslate="wpcemApp.systemDeviceData.dataType">Data Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="wpcemApp.systemDeviceData.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unit"><span jhiTranslate="wpcemApp.systemDeviceData.unit">Unit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deviceSerialNumber"><span jhiTranslate="wpcemApp.systemDeviceData.device">Device</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let systemDeviceData of systemDeviceData ;trackBy: trackId">
                <td><a [routerLink]="['/system-device-data', systemDeviceData.id, 'view' ]">{{systemDeviceData.id}}</a></td>
                <td>{{systemDeviceData.timestamp | date:'medium'}}</td>
                <td>{{systemDeviceData.dataValue}}</td>
                <td jhiTranslate="{{'wpcemApp.DataType.' + systemDeviceData.dataType}}">{{systemDeviceData.dataType}}</td>
                <td>{{systemDeviceData.name}}</td>
                <td>{{systemDeviceData.unit}}</td>
                <td>
                    <div *ngIf="systemDeviceData.deviceId">
                        <a [routerLink]="['../system-device', systemDeviceData.deviceId , 'view' ]" >{{systemDeviceData.deviceSerialNumber}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/system-device-data', systemDeviceData.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/system-device-data', systemDeviceData.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'system-device-data', { outlets: { popup: systemDeviceData.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="systemDeviceData && systemDeviceData.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
